global
    daemon
    maxconn 4096

defaults
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend http-in
    bind *:80
    default_backend servers

backend servers
    balance roundrobin
    option httpchk GET /management/health
    http-check expect status 200
    server-template app 1-2 app:8080 check

listen stats
    bind *:8404
    stats enable
    stats uri /
    stats refresh 5s
